  .hero .container .randomNum p span{
    color: #9cff9c;
    font-weight: 600;
  }
  
  .hero .numContainer{
    display: flex;
    justify-content : space-between;
    padding : 60px 0;
    width : 100%;
  }
  
  .hero .numContainer div{
    width : 100%;
    max-width: 42%;
  }
  
  .hero .numContainer div input{
    padding: 8px;
    border: none;
    outline: none;
    width : 100%;
    background : #181831;
    color : #9cff9c;
  }
  
  .hero .container button{
    align-self: flex-end;
    border: none;
    outline : none;
    background : #292977;
    color: #fff;
    padding : 14px;
    width : 100%;
    font-size : 22px;
    cursor : pointer;
  }
  